---
import type { InferGetStaticPropsType } from "astro";
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
	const postEntries = await getCollection("posts");
	return postEntries.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}));
}

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { entry } = Astro.props;
const { Content, remarkPluginFrontmatter } = await entry.render();
---

<BaseLayout>
	<article class="mx-auto flex max-w-2xl flex-col gap-20">
		<header class="flex flex-col gap-4">
			<h1 class="text-3xl font-bold text-zinc-950" transition:name={entry.slug}>{entry.data.title}</h1>
			<small class="text-zinc-700">
				{remarkPluginFrontmatter.minutesRead} ·
				<span transition:name={"date" + entry.slug}>
					{entry.data.datetime.toLocaleString("en-us", { year: "numeric", month: "short", day: "numeric" })}
				</span>
			</small>
			<div class="mt-1 flex gap-4">
				{
					entry.data.tags.map((tag) => (
						<a
							href={`/tags/${tag}`}
							transition:name={tag}
							class="rounded-full bg-zinc-200 px-3 py-1 text-xs text-zinc-700"
						>
							{tag}
						</a>
					))
				}
			</div>
		</header>
		<div class="prose prose-zinc max-w-none">
			<Content />
		</div>
		<footer></footer>
	</article>
</BaseLayout>
