---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import GlobeIcon from "../components/icons/GlobeIcon.astro";
import GithubIcon from "../components/icons/GithubIcon.astro";

const projectEntries = await getCollection("projects");
---

<BaseLayout>
	<ul class="mx-auto max-w-2xl columns-2xs gap-10">
		{
			projectEntries.map((entry) => (
				<li class="group mb-10 flex select-none break-inside-avoid-column flex-col gap-6 rounded-md border-2 border-gray-100 p-4 transition-colors hover:border-gray-200 dark:border-gray-800 dark:hover:border-gray-700">
					<div class="flex items-center justify-between">
						<h3 class="text-xl font-bold text-gray-700 group-hover:text-gray-900 dark:text-gray-300 dark:group-hover:text-gray-100">
							{entry.data.title}
						</h3>
						<div class="flex">
							{entry.data.url && (
								<a href={entry.data.url} target="_blank" rel="noreferrer" aria-label="live demo">
									<GlobeIcon class="h-7 w-7 rounded-full p-1 text-gray-400 transition-colors hover:bg-gray-200 group-hover:text-gray-900 dark:text-gray-600 dark:hover:bg-gray-800 dark:group-hover:text-gray-200" />
								</a>
							)}
							{entry.data.repo && (
								<a href={entry.data.repo} target="_blank" rel="noreferrer" aria-label="source code">
									<GithubIcon class="h-7 w-7 rounded-full p-1 text-gray-400 transition-colors hover:bg-gray-200 group-hover:text-gray-900 dark:text-gray-600 dark:hover:bg-gray-800 dark:group-hover:text-gray-200" />
								</a>
							)}
						</div>
					</div>
					<p>{entry.data.description}</p>
					<ul class="mt-1 flex flex-wrap gap-4" aria-label="technologies">
						{entry.data.techs.map((tech) => (
							<li class="select-none rounded-full bg-gray-100 px-2 py-1 text-xs text-gray-500 transition-colors dark:bg-gray-800 dark:text-gray-400">
								{tech}
							</li>
						))}
					</ul>
				</li>
			))
		}
	</ul>
</BaseLayout>
