---
import "../base.css";
import "@fontsource/atkinson-hyperlegible/400.css";
import "@fontsource/atkinson-hyperlegible/700.css";
import "@fontsource/atkinson-hyperlegible/400-italic.css";
import "@fontsource/atkinson-hyperlegible/700-italic.css";

import ViewTransitions from "astro/components/ViewTransitions.astro";
import SiteHeader from "../components/SiteHeader.astro";
import SiteFooter from "../components/SiteFooter.astro";
import { siteInfo } from "../data/site-info";
import { myInfo } from "../data/my-info";

type Props = {
	title?: string;
	description?: string;
	ogImage?: string;
	canonicalUrl?: string;
};

const {
	title = siteInfo.title,
	description = siteInfo.description,
	ogImage = siteInfo.OGImage,
	canonicalUrl = new URL(Astro.url.pathname, Astro.site).href,
} = Astro.props;
---

<html lang="en" class="">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<link rel="canonical" href={canonicalUrl} />

		<title>Vitaneri</title>
		<meta name="title" content={title} />
		<meta name="description" content={description} />
		<meta name="author" content={myInfo.name} />

		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:url" content={canonicalUrl} />
		<meta property="og:image" content={ogImage} />

		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={canonicalUrl} />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={description} />
		<meta property="twitter:image" content={ogImage} />

		<ViewTransitions />
	</head>
	<body class="flex min-h-screen flex-col gap-20 overflow-y-scroll bg-white text-zinc-700 antialiased">
		<SiteHeader />

		<main id="main-content" class="overflow-x-clip px-8 md:px-0">
			<slot />
		</main>

		<SiteFooter />
	</body>
</html>
